/*! custom.css v1.0 */

/* ==========================================================================

   Custom CSS Stylesheet. This is where you should add your own styles!

   ========================================================================== */

/*
* Simple style overrides or custom adds
*/




.bg-video {
	background-image:url(../img/bg-green.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
	
	}

.bg-quees {
	background-image:url(../img/bg-quees.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
	
	}



.border {
	
	border:1px solid #F00;
	
	}


.noborder {
	border:0px !important;
	}


.nopadding {
	padding:0px !important;
	}


.aidis {

    height: 100px;
    width: 100%;
    z-index: 900;
	
}


.aidis.zero {

    height: 0px;
    width: 100%;
    z-index: 900;
	
}



.text-verde {
	
	color:#139a9d !important;
	}


.text-white {
	
	color:#fff !important;
	}
	
.text-naranja {
	
	color:#faa819 !important;
	}	
	
hr.blanco {
	border-color:#fff;

}	

.bg-nodo-foto {
	position:absolute;
	bottom:0px;
	width: 100%;
	height:190px;
	background-image:url(../img/nodos-foto.png);
	background-repeat:repeat-x;
	background-position:bottom;
	z-index:10 !important;

}

.bg-nodo-foto-about {
	position:absolute;
	bottom:0px;
	width: 100%;
	height:250px;
	background-image:url(../img/nodos-foto-about.png);
	background-repeat:repeat-x;
	background-position:bottom;
	z-index:10;

}	

.icon-tabs .tabs li.cinco  {
    margin-bottom: 24px;
    width: 19%;
	padding-bottom:20px;

}




.bg-steps {
	
	background-image:url(../img/bg-steps.png);
	background-position:top center;
	background-repeat:no-repeat;
    background-size:contain;
	
	}


.title-cinco {
	line-height:125% !important;
	
	}
	


.cols-padd {
	padding-left:5%;
	padding-right:5%;
	
	
	}
	
	
.arrow-right {
	position:absolute;
	top:45%;
	right:-39px;
	width: 56px; 
	height: 56px; 
	
}

.arrow-left {
	position:absolute;
	top:45%;
	left:-39px;
	width: 56px; 
	height: 56px; 
}	
	
.pic-about {
	z-index:300 !important;
}

.navbar-default {
	background-color: transparent !important;
	border-bottom: 0px !important;
	
	}


/* ==========================================================================
   ** Responsive styles custom rules
   * These rules are ready to be used for either overrides
   * or just your own custom rules.
   ========================================================================== */

@media only screen and (min-width : 1921px){

}

@media only screen and (max-width : 1440px){

}

@media only screen and (min-width : 1200px) and (max-width : 1440px){

}

@media only screen and (min-width : 1200px){
	
.cols-about {
	height: 760px;
	
}




}

@media only screen and (max-width: 1199px){

.cols-about {
		
}

.cols-about.resp {
	height: auto !important;
	
}


.arrow-left, .arrow-right {
	display:none;
	
}



.content-fa {
    padding: 0 0 0 60px !important;
}



.pt64 {
    padding-top: 64px;
}



.image-square > .content {
    padding: 0 10%;
    top: 60%;
    transform: translate3d(0px, -50%, 0px);
}

.h4quehace {
	
	font-size:15px;
	line-height:120%;
	}


.icon-md {
  font-size: 40px;
}

h4 {
    font-size: 20px;
    line-height:110%;
}







}

@media only screen and (min-width: 1281px){

.nav-bar {
 	padding: 0 13%;
}

}


@media only screen and (min-width: 992px) and (max-width: 1199px){
.aidis {
    height: 80px;
    width: 100%;
    z-index: 900;
}
}

@media only screen and (min-width: 992px){



}

@media only screen and (max-width: 991px) {
	



.row-como {
	
	padding:0 10%;
	
}

nav.transparent .module {
    display: inline-block;
    padding: 2px 20px;
}

	
	
	.bg-about {
	background-image:url(../img/bg-about-responsive.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	
	
}

.bg-about img {
	width:70%;

}


.nav-bar {
	border-bottom:1px solid #fff !important;
	
}

section.bg-about {
	padding-bottom:0px;
	}


.aidis {
    height: 60px;
}



.content-fa {
    padding: 0 5% !important;
}

.image-square .image {
    height: 100vw;
    margin-bottom: 48px;
    max-height:150px;
}


.marginquehace {
	
	margin-top:720px;
	
	
	}
	
	
.margin-umboes {
	
	
	margin-top:90px;
	
	}



	
}







@media only screen and (min-width: 768px) and (max-width: 991px){
	
.image-square .image {
    margin-bottom: 248px !important;
}


	
	

}

@media only screen and (min-width: 990px) and (max-width: 1280px){
	
	.nav-bar {
 	padding: 0 5% !important;

}


	
	

}



@media only screen and (max-width: 767px) {
	
.icon-tabs .tabs li.cinco  {
    margin-bottom: 24px;
    width: 19%;
}

.logo-inicio {
	
	
	width:40%;
	margin-top:80px;
	
	}


.inicio{
    margin-top: 30px;
}


.fullscreen.inicio {
  height: 100vh;
}	

}


@media only screen and (max-width : 600px) {
	
nav.transparent.fixed .nav-bar .module {
    display: inline-block;
    padding: 0 12px !important;
}


.title-cinco {
	display:none;
	
	}

.ul-cinco {
	margin-bottom: 0px;
	
}

.pt80 {
    padding-top: 10px;
}
		
.pt112 {
	
	padding-top:40px;
}

.mt88 {
	margin-top:30px;
}



}



@media only screen and (max-width : 480px) {
	



.nopaddmobile {
	
	padding-left:0;
	padding-right:0;
	}






}

@media only screen and (max-width : 320px) {
	
		

}

.botton-messages {
	background-color: #5b5654;
	color: red;
	text-align: center;
}

