html {
    background-color: #5b5654;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.logo-login{
    text-align:center;
    margin-top: 75px;
    margin-bottom: 75px;
}
.margin-campo{
    margin-bottom : 0px;
}

.medio{
    text-align: center;
}

.title{
    font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
}

.puntero{
    cursor:pointer;
}

.padding-form{
    padding-left: 45px;
    padding-right: 145px;
}

.button-signup{
    margin-right: 25px;
    margin-left: 25px;
    border-color: #fff;
    padding: 25px;
    background-color: transparent;
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    cursor:pointer;
    margin-bottom: 80px;
}