.alert-yellow {
    background-color: rgb(255, 246, 157);
    border-radius: 5px;
    border: 1px solid rgb(210,140,13);
    color: rgb(23,100,131);
    font-style: italic;
    font-size: x-small;
    line-height: normal;
    padding: 20px 15px;
}

.alert-yellow.widthdraw {
    padding: 20px 25px;
    margin-left: 15px;
}

.alert-yellow.make-deal {
    padding: 20px 20px;
}

.center-alert-make-deal {
    margin: 30px 25px;
}

.alert-height {
    height: 115px;
}

.alert-left {
    padding-left: 0px;
}

.alert-right {
    padding-right: 0px;
}

.alert-title {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 15px;
}

.alert-message {
    font-size: smaller;
    text-align: justify;
    line-height: 17px;
    font-style: normal;
}

.center-btns-make-deal {
    margin: 0 25px;
}

.bg-profile-card {
    background-color: rgb(242,247,253);
    /*margin-left: 4%;
    margin-top: 4%;*/
}

.bg-make-deal {
    background-color: rgb(242,247,253);
    padding: 0;
    width: 300px;
}

.bg-widthdraw {
    background-color: rgb(242,247,253);
    padding: 0;
    width: 30%;
}

.bg-widthdrawFunds {
    background-color: rgb(242,247,253);
    padding: 0;
}

.bg-make-deal-cancel {
    background-color: rgb(242,247,253);
    padding: 0;
}

.bg-make-deal-card {
    background-color: rgb(242,247,253);
    margin-left: 0;
    margin-top: 0;
}

.bg-profile {
    background-color: rgb(228,234,246);
}

.bg-make-deal-gray-column {
    background-color: rgb(229,229,229);
}

.padding-top {
    padding-top: 5px;
}

.padding-top.widthdraw {
    padding-top: 10px;
}

.margin-top {
    margin-top: 40px;
}

.gray-data-field {
    color: rgb(132,136,139);
    font-size: 12px;
}

.gray-name-field {
    color: rgb(82,90,111);
    font-size: 12px;
}

.gray-name-field.bolder {
    font-weight: 500;
}

.gray-name-field.italic {
    font-style: italic;;
}

.little-line-height {
    line-height: 1.4;
}

.gray-name-field.title{
    font-weight: bold;
    font-style: italic;
}

.gray-name-field.title.small {
    font-size: smaller;
}

.gray-name-field.small {
    font-size: smaller;
}

.gray-data-field.small {
    font-size: smaller;
}

.profile-title {
    color: rgb(82,90,111);
    font-size: 12px;
    font-weight: bold;
    /*padding-left: 30px;*/
}

.make-deal-title {
    background-color: rgb(167,243,183);
    color: rgb(74,82,108);
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
}

.cancel-invoice-title {
    background-color: rgb(254,176,176);
    color: rgb(74,82,108);
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
}

.buyer-title {
    background-color: rgb(229,229,229);
    color: rgb(74,82,108);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 15px;
}

.btn-widthdraw-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.spacing {
    line-height: 35px;
}

.spacing-make-deal {
    line-height: 20px;
    padding: 10px 0 15px 0;
}

.spacing-widthdraw {
    line-height: 20px;
    padding: 20px 0 15px 0;
}

.spacing-make-deal-cancel {
    padding: 25px 0 5px 0;
}

.margin-left-make-deal-cancel {
    margin-left: 30%;
}

.margin-left-btns-make-deal-cancel {
    margin-left: 35%;
}

.margin-admin-buyer {
    margin: 10px 15px;
}

.margin-admin-buyer.extra-margin {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-left-btns-widthdraw {
    margin-left: 20%;
    margin-right: 10%;
}

.form-profile {
    background-color: rgb(242,247,253);
    margin: 0px 0px 15px 0px;
    font-size: 12px;
    height: 25px;
}

.form-profile.middle {
    width: 28%;
}

.custom-navbar {
    text-transform: capitalize !important;
    letter-spacing: 0px !important;
    color: rgb(40,40,40) !important;
    opacity: initial !important;
    font-weight: normal !important;
}

.bg-navbar {
    background-color: rgb(242,247,253);
}

.navbar-margin-right {
    margin-right: 30px !important;
}

hr {
    margin: 0 0 12px 0 !important;
}

.hr-make-deal{
    margin: 0 !important;
}

.margins {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px;
}

.margins-make-deal-cancel {
    margin: 10px 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.btn-submit-profile {
    background: rgba(26,100,139,1) !important;
    height: 25px !important;
    margin-left: 41.66666667% !important;
    padding: 5px; !important;
    line-height: 1.42857143 !important;
    border: 1px solid #ccc !important;
    color: #fff !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    display: block !important;
}

.btn-dialog-confirm {
    background: rgba(26,100,139,1) !important;
    height: 25px !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding: 5px; !important;
    line-height: 1.42857143 !important;
    border: 1px solid #ccc !important;
    color: #fff !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    display: block !important;
    text-align: center;
}

.btn-dialog-confirm.color-green {
    background-color: rgb(110,206,110) !important;
}

.btn-dialog-confirm.color-red {
    background-color: #e31d3b !important;
}

.btn-dialog-cancel {
    background-color: rgb(242,247,253) !important;
    height: 25px !important;
    margin: 6px 0 20px 0 !important;
    padding: 5px; !important;
    line-height: 1.42857143 !important;
    border: 0px solid #ccc !important;
    color: rgb(25,99,136) !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    display: block !important;
    text-align: center;
}

.btn-dialog-cancel.decline {
    display: inline-block !important;
    padding-left: 25px !important;
}

.btn-upload-PDF {
    background-color: rgb(236,243,253) !important;
    border: 1px solid rgb(25,99,136) !important;
    height: 25px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding: 5px; !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    color: rgb(25,99,136) !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    display: block !important;
}

.btn-upload-PDF-icons {
    padding: 0 0 0 10px !important;
}

.btn-confirm {
    background-color: rgb(191,191,191) !important;
    border: 1px solid rgb(191,191,191) !important;
    height: 25px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding: 5px; !important;
    line-height: 1.42857143 !important;
    color: #fff !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    display: block !important;
}

.color-green {
    color: rgb(110,206,110);
}

.label-required {
    color: rgb(147,147,149);
    font-style: italic;
    font-weight: 500;
    font-size: smaller;
}

.color-dark-blue {
    color: rgb(82,89,115);
}

.celda-tabla{
    font-size:10px;
    text-align: center;
    vertical-align: middle !important;
    background: rgb(242,247,253);
}

.pagination{
    background-color: rgb(215,220,223);
    padding: 8px;
}

.pagination li a {
    width: 32px;
    height: 18px;
    padding: 0;
    color: rgb(215,220,223);
    text-align: center;
    margin: 0 4px;
    font-weight: 400;
    font-size: 10px;
    border-radius: 40%!important;
}
.pagination li a:hover,
.pagination li.active a,
.pagination li.active:hover a {
    background: rgb(26,99,139);
    color: #fff;
    border-color: rgb(26,99,139);
}

.icono-yellow{
    color: rgb(239,165,6);
}

.icono-borde{
    padding:5px;
    border-radius: 4px;
    border: 2px solid rgb(225,228,229);
}

.bold-blue{
    font-weight: bold;
    color: rgb(28,99,139)
}
.header-profile-table{
    background-color: rgb(229,229,229);
    color: rgb(95,100,129);
    line-height: 1.42857143 !important;
    font-weight: 100;
    vertical-align: top !important;
}

.header-buyers-table{
    background-color: rgb(229,229,229);
    color: rgb(77,85,114);
    line-height: 1.42857143 !important;
    font-weight: bolder !important;
    height: 50px;
    font-size: 12px;
    vertical-align: middle !important;
}


.color-gray{
    color: rgb(162,161,162);
}

.popover {
    background-color: rgb(255, 246, 157);
    border-radius: 5px;
    border: 1px solid rgb(210,140,13);
    color: rgb(105,102,97);
    font-style: italic;
}

.popover .arrow:after{
    background-color: rgb(255, 246, 157);
    border: 1px solid rgb(210,140,13);
    color: rgb(105,102,97);
}

.centro{
    text-align: center;
}

.modal-class
{
    z-index:2000;
    width:100%;
    height: 100%
}

body{
    padding: 0 !important;
}

.no-margin-left {
    margin-left:0 !important;
}

.btn-gray{
    background-color: rgb(229,229,229);
    color: rgb(28,102,137);
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin-right: 5px;
    font-size: 11px;
    border: 0px;
    font-family: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-title{
    background-color: rgb(242,247,253);
    text-align:left;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

::-webkit-input-placeholder {
    text-transform: capitalize !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    color: #777;
    font-size: 12px !important;
}
:-moz-placeholder {
    text-transform: capitalize !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    color: #777;
    font-size: 12px !important;
}
::-moz-placeholder {
    text-transform: capitalize !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    color: #777;
    font-size: 12px !important;
}
:-ms-input-placeholder {
    text-transform: capitalize !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    color: #777;
    font-size: 12px !important;
}

.margins.little {
    margin-top: 5px;
}

.margin-admin-buyer-deposits{
    margin-top: 20px;
    margin-bottom: 10px;
}

.margin-admin-buyer-deposits.ammount{
    margin-bottom: 0;
}

.search-icon {
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}

.margin-btn-validate {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

.no-margin {
    margin: 0 !important;
}

.label-check{
    letter-spacing: 0px;
    line-height: normal;
    display: inline-block;
    font-weight: 100;
}

.gray-subtitle-table{
    background-color: rgb(238,241,246);
    color: rgb(90,96,131);
    text-align: left;
    padding: 8px;
}

.btn-green{
    background-color : rgb(46,205,113);
    color: white;
    padding: 3px 30px 3px 30px;
    border-radius: 4px;
    border: 0px;
}

.combobox{
    background-color:rgb(36,100,138);
    color:white;
}

.alert-white {
    background-color: rgb(242, 247, 253);
    border-radius: 5px;
    border: 1px solid rgb(24,100,137);
    color: rgb(90,96,131);
    font-size: x-small;
    line-height: normal;
    padding: 20px 15px;
    margin-left:15px;
}

.text-black{
    color:black;
}

.no-margin{
    margin: 0px;
}

.state-red{
    color: rgb(229,25,59);
    font-weight: bold;
    font-size:10px;
    text-align: center;
    vertical-align: middle !important;
    background: rgb(242,247,253);
}

.state-green{
    color: rgb(69,197,174);
    font-weight: bold;
    font-size:10px;
    text-align: center;
    vertical-align: middle !important;
    background: rgb(242,247,253);
}

.state-blue{
    color: rgb(33,106,140);
    font-weight: bold;
    font-size:10px;
    text-align: center;
    vertical-align: middle !important;
    background: rgb(242,247,253);
}

.state-gray{
    color: rgb(173,176,179);
    font-weight: bold;
    font-size:10px;
    text-align: center;
    vertical-align: middle !important;
    background: rgb(242,247,253);
}
.state-light-blue{
    color: rgb(107,179,226);
    font-weight: bold;
    font-size:10px;
    text-align: center;
    vertical-align: middle !important;
    background: rgb(242,247,253);
}

.btn-blue{
    background: rgba(26,100,139,1) !important;
    height: 25px !important;
    line-height: 1.42857143 !important;
    border: 1px solid #ccc !important;
    color: #fff !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    display: block !important;
    padding-left: 4px;
    padding-right: 4px;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}