/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 145px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 145px;
    width: 0;
    height: 100%;
    margin-left: -145px;
    overflow-y: auto;
    background: rgb(40,40,40);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 155px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -145px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 155px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
}

.sidebar-nav li {
    display: block;
    text-decoration: none;
    color: rgb(173,173,173);
    font-weight: 100;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 12px;
    line-height: 50px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: rgb(173,173,173);
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 145px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 155px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.sidebar-nav .active{
    border-left: solid 2px rgb(110,208,104);
    background-color:black;
}

.sidebar-brand{
    text-align: center;
    border-bottom: solid 1px rgb(27,30,39);
    height: 55px !important;
    padding-left:0px !important;
    text-indent:-10px !important;
}

.sidebar-nav li {
    font-size: 12px;
}

.sidebar-nav ul li{
    padding-left: 24px;
}