<div class="bg-profile">
    <div class="col-md-8 bg-profile-card no-margin-left well padding-top">
        <div class="profile-title">Seller Enrollment</div>
        <hr>
        <div class="col-md-9 spacing ">
            <form class="form-horizontal padding-form" role="form" id="frmSellerEnrollment">
                <div class="form-group ">
                    <div class="col-md-5 gray-name-field no-padding">
                        Company's name
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Company's name" id="companyName" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Activity / Industry
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Activity / Industry" id="activityIndustry" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Country
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Country" id="country" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Full Name Contact
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Full Name Contact" id="contactFirstLastName" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Phone
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Phone" id="phone" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Email
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Email" id="email" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Legal Address
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Legal Address" id="legalAddress" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        WebSite
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="WebSite" id="webSite" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-12 gray-name-field title no-padding">
                        Bank Account details
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Routing Number
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Routing Number" id="routingNumber" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Number SWIFT
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Number SWIFT" id="swiftNumber" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Account Number
                    </div>
                    <input class="col-md-6 form-control form-profile margins little" placeholder="Account Number" id="accountNumber" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Bank Info Notes
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        <textarea cols="5" rows="5" class="form-control form-profile margins little" id="bankInfoNotes" required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-9 col-md-2 no-padding">
                        <input type="submit" id="enroll" class="btn-dialog-confirm form-profile" value="Enroll" style="border-radius: 4px !important;"/>
                        <!--Submit btn-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/admin/adminSellerEnrollment.js"></script>