<div class="bg-profile centro col-md-7">
    <div class="profile-title table-title">Buyers</div>
    <table class="table table-responsive" id="buyers">
        <thead>
            <!-- Encabezado tabla -->
            <tr>
                <th data-field="id" data-class="hidden">Id</th>
                <th data-field="name" data-class="celda-tabla col-md-2 color-dark-blue">Name</th>
                <th data-field="email" data-class="celda-tabla col-md-2 color-dark-blue">E-mail</th>
                <th data-field="actions" data-class="celda-tabla col-md-3 color-dark-blue">Actions</th>
            </tr>
        </thead>
    </table>
    <div class="pagination">
        <li class="">
            <a class="">1</a>
            <a class="">2</a>
            <a class="">3</a>
            <a class="">4</a>
        </li>
    </div>
</div>
<div id="modal">
</div>
<script src="js/admin/adminBuyers.js"></script>