<div id="filters">
    <div class="bg-profile">
        <div class="col-md-9 bg-profile-card well">
            <div class="profile-title">Filters</div>
            <hr>
            <div class="col-md-12 spacing">
                <div class="col-md-2 gray-name-field" style="width: 15%;">
                    Seller<br/>
                    <input class="col-md-12 form-control form-profile" value="" id="seller"/>
                </div>
                <div class="col-md-2 gray-name-field" style="width: 15%;">
                    Buyer<br/>
                    <input class="col-md-12 form-control form-profile" value="" id="buyer"/>
                </div>
                <div class="col-md-2 gray-name-field" style="width: 12%;">
                    Date
                    <input class="col-md-12 form-control form-profile" placeholder="From"/>
                </div>
                <div class="col-md-1 gray-name-field" style="width: 10%;">
                    <br/>
                    <input class="col-md-12 form-control form-profile" placeholder="To"/>
                </div>
                <div class="col-md-2 gray-name-field small" style="line-height: 1.5; width: 14%;">
                    Purchase Invoice Status<br/>
                    <select class="col-md-12 form-control form-profile combobox">
                        <option value="">
                        </option>
                    </select>
                </div>
                <div class="col-md-2 gray-name-field small" style="line-height: 1.5;">
                    Payment Status<br/><br/>
                    <select class="col-md-12 form-control form-profile combobox">
                        <option value="">
                        </option>
                    </select>
                </div>
                <div class="col-md-2 gray-name-field">
                    <br/>
                    <input type="submit" id="search" class="btn-submit-profile col-md-3 form-profile" value="Search" style="border-radius: 4px !important;"/>
                </div>
            </div>
            <!--Table with results-->
            <div id="results">
            </div>
        </div>
    </div>
</div>
<script src="js/admin/adminBuyerTransactions.js"></script>