<div id="filters">
    <div class="bg-profile">
        <div class="col-md-12 bg-profile-card well">
            <div class="profile-title">Filters</div>
            <hr>
            <div class="col-md-12 spacing">
                <div class="col-md-2 gray-name-field">
                    Seller<br/>
                    <input class="col-md-12 form-control form-profile" value="" id="seller"/>
                </div>
                <div class="col-md-2 gray-name-field">
                    Buyer<br/>
                    <input class="col-md-12 form-control form-profile" value="" id="buyer"/>
                </div>
                <div class="col-md-2 gray-name-field">
                    Invoice Number<br/>
                    <input class="col-md-12 form-control form-profile" value="" id="invoiceNumber"/>
                </div>
                <div class="col-md-2 gray-name-field">
                    <br/>
                    <input type="submit" id="search" class="btn-submit-profile col-md-3 form-profile" value="Search" style="border-radius: 4px !important;"/>
                </div>
            </div>
            <!--Table with results-->
            <div id="results">
            </div>
        </div>
    </div>
</div>
<div id="modal">
</div>
<script src="js/admin/adminInvoices.js"></script>