<div class="bg-profile centro col-md-12">
    <div class="profile-title table-title">Buyers extractions</div>
    <table class="table table-responsive" data-checkbox-header=false id="extractions">
        <thead>
            <!-- Encabezado tabla -->
            <tr>
                <th data-field="name" data-class="celda-tabla col-md-1 color-dark-blue">Name</th>
                <th data-field="personName" data-class="celda-tabla col-md-1 color-dark-blue">Company Name</th>
                <th data-field="legalAddress" data-class="celda-tabla col-md-2 color-dark-blue">Legal Address</th>
                <th data-field="phone" data-class="celda-tabla col-md-1 color-dark-blue">Phone</th>
                <th data-field="email" data-class="celda-tabla col-md-1 color-dark-blue">Email</th>
                <th data-field="routingNumber" data-class="celda-tabla col-md-1 color-dark-blue">Routing Number</th>
                <th data-field="accountNumber" data-class="celda-tabla col-md-1 color-dark-blue">Account Number</th>
                <th data-field="amount" data-class="celda-tabla col-md-1 color-dark-blue">Extraction</th>
                <th data-field="actions" data-class="celda-tabla col-md-3 color-dark-blue"></th>
            </tr>
        </thead>
    </table>
    <div class="pagination">
        <li class="">
            <a class="">1</a>
            <a class="">2</a>
            <a class="">3</a>
            <a class="">4</a>
        </li>
    </div>
</div>
<div id="modal">
</div>
<script src="js/admin/adminBuyerExtractions.js"></script>