<div class="modal fade" role="dialog" id="modalApproveConfirm">
    <div class="modal-dialog modal-class" role="document">
        <div class="bg-make-deal col-md-3">
            <div class="bg-make-deal-card">
                <div class="make-deal-title">Approve Extraction</div>
                <div class="col-md-offset-3 col-md-6 gray-name-field spacing-make-deal align-center">
                    Are you sure you want to approve the extraction?
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <input type="submit" id="confirm" class="btn-dialog-confirm form-profile" value="Yes" style="border-radius: 4px !important;"/>
                    <input type="submit" id="cancel" class="btn-dialog-cancel form-profile" value="No" style="border-radius: 4px !important;"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/admin/adminBuyerExtractionsConfirm.js"></script>