<div class="bg-profile">
    <div class="col-md-4 bg-profile-card no-margin-left well padding-top">
        <div class="profile-title">Deposit</div>
        <hr>
        <div class="col-md-12 spacing ">
            <form class="form-horizontal padding-form" role="form" id="frmBuyerDeposit">
                <div class="form-group ">
                    <div class="col-md-12 gray-name-field no-padding">
                        Buyer
                    </div>
                    <input class="col-md-12 form-control form-profile margins little" id="buyer" required="required">
                    <span class="fa fa-search search-icon"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-12 gray-name-field title margin-admin-buyer-deposits no-padding">
                        Account
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 gray-name-field no-padding">
                        Routing Number
                    </div>
                    <input class="col-md-12 form-control form-profile margins little" id="routingNumber" disabled/>
                </div>
                <div class="form-group">
                    <div class="col-md-12 gray-name-field no-padding">
                        Account Number
                    </div>
                    <input class="col-md-12 form-control form-profile margins little" id="accountNumber" disabled/>
                </div>
                <div class="form-group">
                    <div class="col-md-12 profile-title margin-admin-buyer-deposits ammount no-padding">
                        Ammount
                    </div>
                    <input type="number" class="col-md-12 form-control form-profile" id="ammount" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4 ">
                        <input type="submit" id="register" class="btn-dialog-confirm form-profile" value="Register" style="border-radius: 4px !important;"/>
                        <!--Submit btn-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/admin/adminBuyerDeposits.js"></script>