<div class="bg-profile centro">
    <div class="profile-title table-title">Transactions</div>
    <table class="table table-responsive" id="transactions" >
        <thead>
        <!-- Encabezado tabla -->
        <tr>
            <th data-field="id" data-class="hidden">Id</th>
            <th data-field="transactionClosingDate" data-class="celda-tabla col-md-1 color-dark-blue">Transaction Closing Date</th>
            <th data-field="seller" data-class="celda-tabla col-md-2 color-dark-blue">Seller</th>
            <th data-field="buyer" data-class="celda-tabla col-md-2 color-dark-blue">Buyer</th>
            <th data-field="totalAmount" data-class="celda-tabla col-md-2 color-dark-blue">Amount</th>
            <th data-field="bestAdvance" data-class="celda-tabla color-dark-blue col-md-1 "> ASK % Advance</th>
            <th data-field="bestDiscount" data-class="celda-tabla color-dark-blue col-md-1">ASK Discount Monthly Rate</th>
            <th data-field="daysMaturity" data-class="celda-tabla color-dark-blue">Days to Maturity</th>
            <th data-field="statusInvoiceBuying" data-class="celda-tabla color-dark-blue col-md-3">Purchase Invoice Status</th>
            <th data-field="statusInvoicePayment" data-class="celda-tabla color-dark-blue col-md-2">Payment Status</th>
        </tr>
        </thead>
    </table>
    <div class="pagination">
        <li class="">
            <a class="">1</a>
            <a class="">2</a>
            <a class="">3</a>
            <a class="">4</a>
        </li>
    </div>
</div>
<script src="js/admin/adminBuyerTransactionsResults.js"></script>