<div class="bg-profile centro">
    <div class="profile-title table-title">Invoices</div>
    <table class="table table-responsive" id="invoices" >
        <thead>
        <!-- Encabezado tabla -->
        <tr>
            <th data-field="id" data-class="hidden">Id</th>
            <th data-field="seller" data-class="celda-tabla col-md-2 color-dark-blue">Seller</th>
            <th data-field="buyer" data-class="celda-tabla col-md-2 color-dark-blue">Buyer</th>
            <th data-field="issueDate" data-class="celda-tabla color-dark-blue">Issuing Date</th>
            <th data-field="daysMaturity" data-class="celda-tabla color-dark-blue">Days to Maturity</th>
            <th data-field="totalAmount" data-class="celda-tabla col-md-2 color-dark-blue">Amount</th>
            <th data-field="askAdvance" data-class="celda-tabla color-dark-blue col-md-1 "> ASK % Advance</th>
            <th data-field="askDiscountRate" data-class="celda-tabla color-dark-blue col-md-1">ASK Discount Monthly Rate</th>
            <th data-field="bestAdvance" data-class="celda-tabla color-dark-blue col-md-1">Best Advances % BIDs Others</th>
            <th data-field="bestDiscount" data-class="celda-tabla color-dark-blue col-md-3">Best Discount Monthly Rate % BIDs Others</th>
            <th data-field="status" data-class="celda-tabla color-dark-blue col-md-2" data-cell-style="pintarEstados">Status</th>
            <th data-field="biddingClosing" data-class="celda-tabla color-dark-blue col-md-1">Bidding Closing</th>
            <th data-field="actions" data-class="celda-tabla color-dark-blue col-md-2"></th>
        </tr>
        </thead>
    </table>
    <div class="pagination">
        <li class="">
            <a class="">1</a>
            <a class="">2</a>
            <a class="">3</a>
            <a class="">4</a>
        </li>
    </div>
</div>
<script src="js/admin/adminInvoicesResults.js"></script>