<div class="modal fade" role="dialog" id="modalInvoicesValidate">
    <div class="modal-dialog" style="z-index:2000;" role="document">
        <div class="bg-profile modal-body">
            <div class="col-md-12 bg-profile-card no-margin-left well padding-top">
                <div class="profile-title">Validate</div>
                <hr>
                <div class="spacing no-padding">
                    <div class="col-md-12 gray-name-field title no-padding">
                        Payer Data / Importer
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Company name
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="companyName">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Country
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="country">
                    </div>
                    <div class="col-md-12 gray-name-field title no-padding">
                        Contact Information
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Contact Name
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="person">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Email
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="email">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Phone
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="phone">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Cell phone
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="cell">
                    </div>
                    <div class="col-md-12 gray-name-field title no-padding">
                        Invoice Information
                    </div>
                    <div class="col-md-6 gray-name-field no-padding little-line-height">
                        Invoice Number (Number on Invoice)
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="invoiceNumber2">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Total Amount
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="totalAmount">
                    </div>
<!--                    <div class="col-md-6 gray-name-field no-padding">
                        Purchase Date
                    </div>-->
<!--                    <div class="col-md-6 gray-data-field no-padding" id="purchaseDate">
                    </div>-->
                    <div class="col-md-6 gray-data-field no-padding">
                        Issue Date
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="issueDate">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Expiration Date
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="expirationDate">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Sent
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="sent">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Bill of Lading Date (if any)
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="billOfLadingDate">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Incoterms
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="incoterms">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Invoice approved by the debtor
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="authorizedByDebtor">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        ASK% Advance
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="askAdvance">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        ASK Discount Monthly Rate
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="askDiscountRate">
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <div class="col-md-6">
                            <input type="submit" id="validate" class="btn-dialog-confirm color-green form-profile margin-btn-validate" value="Validate" style="border-radius: 4px !important;"/>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" id="invalidate" class="btn-dialog-confirm color-red form-profile margin-btn-validate" value="Invalidate" style="border-radius: 4px !important;"/>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-md-6">
                        <input type="submit" id="cancel" class="btn-dialog-cancel form-profile no-margin" value="Cancel" style="border-radius: 4px !important;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal">
</div>
<script src="js/admin/adminInvoicesValidate.js"></script>