<div id="filters">
    <div class="bg-profile">
        <div class="col-md-9 bg-profile-card well">
            <div class="profile-title">Filters</div>
            <hr>
            <div class="col-md-12 spacing">
                <div class="col-md-3 gray-name-field">
                    Industry<br/>
                    <input class="col-md-12 form-control form-profile" id="industry" value=""/>
                </div>
                <div class="col-md-3 gray-name-field small" >
                    Country<br/>
                    <input class="col-md-12 form-control form-profile" id="country" value=""/>
                </div>
                <div class="col-md-2 gray-name-field">
                    <br/>
                    <input type="submit" id="search" class="btn-submit-profile col-md-3 form-profile" value="Search" style="border-radius: 4px !important;"/>
                </div>
            </div>
            <!--Table with results-->
            <div id="results">
            </div>
        </div>
    </div>
</div>
<script src="js/admin/adminSellers.js"></script>