<div class="modal fade" role="dialog" id="modalExtractionsDetails">
    <div class="modal-dialog modal-class" role="document">
        <div class="bg-make-deal col-md-3">
            <div class="bg-make-deal-card">
                <div class="make-deal-title">Approve Extraction</div>
                <div class="margin-admin-buyer extra-margin">
                    <div class="col-md-6 profile-title no-padding">
                        Name
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="name">
                    </div>
                    <div class="col-md-6 profile-title no-padding">
                        Company Name
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="companyName">
                    </div>
                    <div class="col-md-6 profile-title no-padding">
                        Legal Address
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="legalAddress">
                    </div>
                    <div class="col-md-6 profile-title no-padding">
                        Phone
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="phone">
                    </div>
                    <div class="col-md-6 profile-title no-padding">
                        Email
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="email">
                    </div>
                    <div class="col-md-6 profile-title no-padding">
                        Routing Number
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="routingNumber">
                    </div>
                    <div class="col-md-6 profile-title no-padding">
                        Account Number
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="accountNumber">
                    </div>
                    <div class="col-md-6 profile-title no-padding margin-bottom">
                        Extraction
                    </div>
                    <div class="col-md-6 profile-title no-padding color-red margin-bottom" id="ammount">
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <input type="submit" id="confirm" class="btn-dialog-confirm form-profile" value="Approve" style="border-radius: 4px !important;"/>
                    <input type="submit" id="cancel" class="btn-dialog-cancel form-profile" value="Cancel" style="border-radius: 4px !important;"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/admin/adminBuyerExtractionsDetails.js"></script>