<div class="modal fade" role="dialog" id="modalSellerDetails">
    <div class="modal-dialog" style="z-index:2000;" role="document">
        <div class="bg-profile">
            <div class="col-md-8 bg-profile-card well padding-top">
                <div class="profile-title">Seller Details</div>
                <hr>
                <div class="spacing no-padding">
                    <div class="col-md-6 gray-name-field no-padding">
                        Company Name
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="companyName">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Activity / Industry
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="activityIndustry">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Country
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="countryC">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Fisrt Last Name
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="contactFirstLastName">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Phone
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="phone">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Email
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="email">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Legal Address
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="legalAddress">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Web
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="webSite">
                    </div>
                    <!--End Profile fields names & data fields-->
                    <div class="col-md-12 gray-name-field title no-padding">
                        Bank account details
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Routing Number
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="routingNumber">
                    </div>

                    <div class="col-md-6 gray-name-field no-padding">
                        Swift Number
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="swiftNumber">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Account Number
                    </div>
                    <div class="col-md-6 gray-data-field no-padding" id="accountNumber">
                    </div>
                    <div class="col-md-6 gray-name-field no-padding">
                        Bank Info Notes
                    </div>
                    <div class="col-md-6 gray-data-field no-padding little-line-height" id="bankInfoNotes">
                    </div>
                    <!--End Bank Account fields names & data fields-->
                </div>
                <!--End data profile columns-->
            </div>
        </div>
    </div>
</div>
<script src="js/admin/adminSellerDetails.js"></script>