<script src="js/admin/.js"></script>

<div class="modal fade" role="dialog" id="modalInvalidateConfirmReason">
    <div class="modal-dialog modal-class" role="document">
        <div class="bg-make-deal col-md-3">
            <div class="bg-make-deal-card">
                <div class="cancel-invoice-title">Invalidate</div>
                <div class="margin-admin-buyer gray-data-field no-padding align-left">
                    Reason
                    <br>
                </div>
                <div class="margin-admin-buyer margin-bottom extra-margin no-padding">
                    <textarea rows="4" class="form-control form-profile margins-make-deal-cancel no-margin-top" value=""/>
                </div>

                <div class="col-md-offset-3 col-md-6">
                    <input type="submit" id="confirm" class="btn-dialog-confirm form-profile" value="Send" style="border-radius: 4px !important;"/>
                    <input type="submit" id="cancel" class="btn-dialog-cancel form-profile" value="Cancel" style="border-radius: 4px !important;"/>
                </div>
            </div>
        </div>
    </div>
</div>