
<div class="modal fade" role="dialog" id="modalBids">
    <div class="modal-dialog" style="z-index:2000;" role="document">
        <div class="bg-profile modal-body">
            <div class="col-md-12 bg-profile-card well padding-top">
                <div class="profile-title">All BIDs</div>
                <hr>
                <div class="spacing no-padding">
                    <table class="table table-responsive" id="sellers">
                        <thead>
                        <!-- Encabezado tabla seller-->
                        <tr>
                            <th data-field="seller" data-class="celda-tabla col-md-2 color-dark-blue">Seller</th>
                            <th data-field="issuing-date" data-class="celda-tabla col-md-2 color-dark-blue">Issuing Date</th>
                            <th data-field="days-to-maturity" data-class="celda-tabla col-md-3 color-dark-blue">Days to Maturity</th>
                            <th data-field="amount" data-class="celda-tabla col-md-3 color-dark-blue">Amount</th>
                            <th data-field="ask-advance" data-class="celda-tabla col-md-3 color-dark-blue">ASK % Advance</th>
                            <th data-field="ask-discount" data-class="celda-tabla col-md-3 color-dark-blue">ASK Discount Monthly Rate</th>
                        </tr>
                        </thead>
                    </table>
                    <table class="table table-responsive" id="buyers">
                        <thead>
                        <!-- Encabezado tabla buyer-->
                        <tr>
                            <th data-field="buyer" data-class="celda-tabla col-md-2 color-dark-blue">Buyer</th>
                            <th data-field="best-advance" data-class="celda-tabla col-md-2 color-dark-blue">Best Advance % BIDs</th>
                            <th data-field="best-discount" data-class="celda-tabla col-md-3 color-dark-blue">Best Discount Monthly Rate % BIDs</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!--End data profile columns-->
            </div>
        </div>
    </div>
</div>



<script src="js/admin/adminViewBids.js"></script>