<link href="css/customerLogon.css" rel="stylesheet" type="text/css" media="all" />
<div class="bg-marron">
    <hr>
    <div class="logo-login">
        <img src="img/logo-bgdark.png" height="35px">
    </div>
    <div class="col-md-offset-4 padding-form">
        <div>
            <h3 class="color-white title">
                SIGN UP
            </h3>
        </div>
    </div>
    <div class="col-md-offset-4">
        <form class="form-horizontal padding-form" role="form" id="frmSignUp">
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="name" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <input type="radio" id="individual" name="typeUser" checked="checked"><span class="color-white h6">&nbsp; INDIVIDUAL</span>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" id="company"  name="typeUser"><span class="color-white h6">&nbsp; COMPANY</span>
                    </div>
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="nameCompany" placeholder="name / name of company" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="legalAddress" placeholder="legal address" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="phone" placeholder="phone number" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="email" id="email" placeholder="email" required="required">
                </div>
            </div>
            <input type="checkbox" id="terms" ><span class="color-white h6">&nbsp; I ACCEPT TERMS AND CONDITIONS</span>
            <div class="form-group">
                <div class="col-md-6">
                    <h6 class="color-primary puntero">717STAR PRIVACY POLICIES</h6>
                    <input type="submit" id="brnSignUp" value="CONTINUE" />
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Customer site -->
<script type="text/javascript" src="js/buyerSignUp.js"></script>