<link href="css/customerLogon.css" rel="stylesheet" type="text/css" media="all" />

<div class="bg-marron">
    <hr>
    <div class="logo-login">
        <img src="img/logo-bgdark.png" height="35px">
    </div>
    <div class="medio">
        <form class="form-horizontal" role="form" id="frmSignUp">
            <div class="form-group margin-campo">

                <input type="button" id="buyer" class="button-signup" onclick="signUpBuyer();" value="I'M BUYER">
                <input type="button" id="seller" class="button-signup" onclick="signUpSeller();" value="I'M SELLER">

                <div class="form-group margin-campo">
                    <div class="medio">
                        <h6 class="color-white medio">DO YOU HAVE AN ACCOUNT? <span class="color-primary bold puntero" onclick="volverLogin();">LOGIN</span></h6>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>