<link href="css/customerLogon.css" rel="stylesheet" type="text/css" media="all" />
<div class="bg-marron">
    <hr>
    <div class="logo-login">
        <img src="img/logo-bgdark.png" height="35px">
    </div>
    <div class="col-md-offset-4 padding-form">
        <div>
            <h3 class="color-white title">
                CHANGE <br/> PASSWORD
            </h3>
        </div>
    </div>
    <div class="col-md-offset-4">
        <form class="form-horizontal padding-form" role="form" id="frmChangePassword">
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="password" id="actual" placeholder="actual password" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="password" id="new" placeholder="new password" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="password" id="repeat" placeholder="repeat password" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="submit" class="puntero" id="btnLogin" value="save" />
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Customer site -->
<script type="text/javascript" src="js/customerChangePassword.js"></script>