<link href="css/customerLogon.css" rel="stylesheet" type="text/css" media="all" />
<div class="bg-marron">
    <hr>
    <div class="logo-login">
        <img src="img/logo-bgdark.png" height="35px">
    </div>
    <div class="col-md-offset-4 padding-form">
        <div>
            <h3 class="color-white title">
                RECOVER <br/> PASSWORD
            </h3>
        </div>
    </div>
    <div class="col-md-offset-4">
        <form class="form-horizontal padding-form" role="form" id="frmRecoverPassword">
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="email" id="email" placeholder="E-mail" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="submit" class="puntero" id="btnLogin" value="SEND" />
                    <h6 class="medio "><a class="color-primary margin-campo puntero" href="customer.html" >CANCEL</a></h6>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Customer site -->
<script type="text/javascript" src="js/customerRecoverPassword.js"></script>