<link href="css/customerLogon.css" rel="stylesheet" type="text/css" media="all" />
<div class=" bg-marron">
    <hr>
    <div class="logo-login">
        <img src="img/logo-bgdark.png" height="35px">
    </div>
    <div class="col-md-offset-4 padding-form">
        <div>
            <h3 class="color-white title">
                LOGIN
            </h3>
        </div>
    </div>
    <div class="col-md-offset-4">
        <form class="form-horizontal padding-form" role="form" id="frmCustomerLogon">
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="email" id="email" placeholder="E-mail" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="password" id="password" placeholder="Password"  required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="submit" id="btnLogin" value="LOGIN" />
                    <h6 class="color-primary medio margin-campo puntero" onclick="recoverPassword();">I FORGOT MY PASSWORD</h6>
                    <h6 class="color-white medio">YOU DO NOT HAVE AN ACCOUNT? <span class="color-primary bold puntero" onclick="signUp();">SIGN UP</span></h6>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Customer site -->
<script type="text/javascript" src="js/customerLogon.js"></script>