<link href="css/customerLogon.css" rel="stylesheet" type="text/css" media="all" />
<div class="bg-marron">
    <hr>
    <div class="logo-login">
        <img src="img/logo-bgdark.png" height="35px">
    </div>
    <div class="col-md-offset-4 padding-form">
        <div>
            <h3 class="color-white title">
                SIGN UP
            </h3>
        </div>
    </div>
    <div class="col-md-offset-4">
        <form class="form-horizontal padding-form" role="form" id="frmSignUp">
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="name" placeholder="company name" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="activity" placeholder="activiy / industry" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="contactFirstLastName" placeholder="first and last name" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="phone" placeholder="contact phone number" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="email" id="email" placeholder="contact email" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="address" placeholder="address: e.g. country, state/province, region" required="required">
                </div>
            </div>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <input type="text" id="website" placeholder="website" >
                </div>
            </div>
            <input type="checkbox" id="terms" ><span class="color-white h6">&nbsp; I ACCEPT TERMS AND CONDITIONS</span>
            <div class="form-group margin-campo">
                <div class="col-md-6">
                    <h6 class="color-primary puntero">717STAR PRIVACY POLICIES</h6>
                    <input type="submit" id="brnSignUp" value="CONTINUE" />
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Customer site -->
<script type="text/javascript" src="js/sellerSignUp.js"></script>