<script src="js/seller/republishInvoice.js"></script>

<div class="modal fade" role="dialog" id="modalRepublish">
    <div class="modal-dialog modal-class" role="document">
    <div class="bg-profile">
        <div class="col-md-8 bg-profile-card well padding-top">
            <div class="profile-title">Republish Invoice</div>
            <hr>
            <div class="col-md-8 spacing no-padding">
                <div class="col-md-5 gray-name-field no-padding">
                    ASK% Advance*
                </div>
                <input class="col-md-6 form-control form-profile" value="ASK% Advance*"/>

                <div class="col-md-5 gray-name-field no-padding">
                    ASK Discount Monthly Rate*
                </div>
                <input class="col-md-6 form-control form-profile" value="ASK Discount Monthly Rate*"/>
                <input type="submit" id="confirmInvoice" class="btn-submit-profile col-md-6 form-profile" value="Confirm" style="border-radius: 4px !important;"/>
                <!--Submit btn-->

                <div class="col-md-12">
                    <label class="label-required">*Required items</label>
                </div>
            </div>
            <!--End data invoice columns-->

            <div class="col-md-4">
                <div class="col-md-11 alert-yellow alert-height">
                    <div class="col-md-8 alert-left">
                        US$ Advanced<br/>
                        Factor Fee<br/>
                        Platform fee<br/>
                        Rebate at Maturity<br/>
                        Total fees<br/>
                        Implicit Rate(APR)
                    </div>
                    <div class="col-md-4 alert-right">
                        89500,00<br/>
                        3000,00<br/>
                        500,00<br/>
                        0.20,00<br/>
                        3.500,00<br/>
                        31,28%
                    </div>
                </div>
            </div>
            <!--End alert message column-->
        </div>
    </div>
</div>