<div class="modal fade" role="dialog" id="modalConfirm">
    <div class="modal-dialog modal-class col-md-offset-4" role="document">
        <div class="bg-make-deal col-md-3">
            <div class="bg-make-deal-card">
                <div class="make-deal-title">Make Deal</div>
                <div class="col-md-12 no-padding">
                    <div class="col-md-6 gray-name-field spacing bg-make-deal-gray-column padding-top">
                        <ul>
                            <li>
                                Invoice Number
                            </li>
                            <li>
                                Payer
                            </li>
                            <li>
                                Issuing Date
                            </li>
                            <li>
                                Days To Maturiry
                            </li>
                            <li>
                                Amount
                            </li>
                            <li>
                                ASK % advance
                            </li>
                            <li class="little-line-height">
                                ASK Discount Monthly Rate
                            </li>
                            <li>
                                Status
                            </li>
                            <li>
                                BID Advance %
                            </li>
                            <li class="little-line-height">
                                BID Discount Monthly Rate
                            </li>
                        </ul>

                    </div>
                    <!-- Left column -->
                    <div class="col-md-6 gray-name-field spacing padding-top">
                        <ul>
                            <li id="invoiseId">
                            </li>
                            <li id="companyName">
                            </li>
                            <li id="issueDate">
                            </li>
                            <li id="daysToMaturiry">
                            </li>
                            <li id="totalAmount">
                            </li>
                            <li id="askAdvance">
                            </li>
                            <li id="askDiscountRate">
                            </li>
                            <li id="status">
                            </li>
                            <li id="bidAdvance">
                            </li>
                            <li id="bidDiscountRate">
                            </li>
                        </ul>
                    </div>
                    <!-- Right column -->
                </div>
            </div>
            <div class="col-md-10 center-alert-make-deal">
                <div class="col-md-12 alert-yellow make-deal alert-height">
                    <div class="col-md-8">
                        US$ Advanced<br/>
                        Factor Fee<br/>
                        Platform fee<br/>
                        Rebate at Maturity<br/>
                        Total fees<br/>
                        Implicit Rate(APR)
                    </div>
                    <div class="col-md-4 alert-left">
                        89500,00<br/>
                        3000,00<br/>
                        500,00<br/>
                        0.20,00<br/>
                        3.500,00<br/>
                        31,28%
                    </div>
                </div>
            </div>
            <div class="center-btns-make-deal">
                <div class="col-md-8">
                    <input type="submit" id="confirmInvoice" class="btn-dialog-confirm form-profile" value="Make deal" style="border-radius: 4px !important;"/>
                </div>
                <div class="col-md-4 alert-left">
                    <input type="submit" id="cancelInvoice" class="btn-dialog-cancel form-profile no-margin-top" value="Cancel" style="border-radius: 4px !important; margin-top: 0 !important;"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divModalConfirm">
</div>
<script src="js/seller/makeDealInvoice.js"></script>