<div class="modal fade" role="dialog" id="modalCancel">
    <div class="modal-dialog modal-class" role="document">
        <div class="bg-make-deal-cancel col-md-8">
            <div class="bg-make-deal-card">
                <div class="cancel-invoice-title">Cancel Invoice</div>
                <table class="table table-responsive" data-checkbox-header=false id="cancel-table">
                    <thead>
                    <!-- Encabezado tabla -->
                    <tr>
                        <th data-field="invoiseId" data-class="celda-tabla col-md-1">Invoice Number</th>
                        <th data-field="payer" data-class="celda-tabla col-md-2">Payer</th>
                        <th data-field="issueDate" data-class="celda-tabla">Issuing Date</th>
                        <th data-field="daysMaturity" data-class="celda-tabla">Days to Maturity</th>
                        <th data-field="totalAmount" data-class="celda-tabla col-md-2">Amount</th>
                        <th data-field="askAdvance" data-class="celda-tabla">ASK % advance</th>
                        <th data-field="askDiscountRate" data-class="celda-tabla col-md-2" >ASK Discount Monthly Rate</th>
                        <th data-field="status" data-class="celda-tabla">Status</th>
                        <th data-field="bestAdvance" data-class="celda-tabla  col-md-2 "> Best % Advance Others</th>
                        <th data-field="bestDiscount" data-class="celda-tabla col-md-2">Best Discount Rate Others</th>
                    </tr>
                    </thead>
                </table>
                <div class="margin-left-make-deal-cancel gray-data-field spacing-make-deal-cancel align-left">
                    Reason
                    <br>
                </div>
                <div class="margin-left-make-deal-cancel col-md-5 no-padding">
                    <textarea rows="4" class="form-control form-profile margins-make-deal-cancel no-margin-top" value=""/>
                </div>
                <div class="margin-left-btns-make-deal-cancel col-md-4">
                    <div class="col-md-8">
                        <input type="submit" id="confirmInvoice" class="btn-dialog-confirm form-profile" value="Delete Invoice" style="border-radius: 4px !important;"/>
                    </div>
                    <div class="col-md-4 alert-left">
                        <input type="submit" id="cancelInvoice" class="btn-dialog-cancel form-profile no-margin-top" value="Cancel" style="border-radius: 4px !important; margin-top: 0 !important;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/seller/cancelInvoice.js"></script>