<div class="bg-profile">
    <div class="col-md-8 bg-profile-card well padding-top">
        <div class="profile-title">Profile</div>
        <hr>
        <div class="col-md-6 spacing no-padding">
            <div class="col-md-6 gray-name-field no-padding">
                Company's name
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="companyName">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Activity / Industry
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="activityIndustry">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Country
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="countryC">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Full Name Contact
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="contactFirstLastName">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Phone
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="phone">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Email
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="email">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Legal Address
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="legalAddress">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                WebSite
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="webSite">
            </div>
            <!--End Profile fields names & data fields-->
            <div class="col-md-12 gray-name-field title no-padding">
                Bank Account
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Routing Number
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="routingNumber">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Number SWIFT
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="swiftNumber">
            </div>
            <div class="col-md-6 gray-name-field no-padding">
                Account Number
            </div>
            <div class="col-md-6 gray-data-field no-padding" id="accountNumber">
            </div>
            <!--End Bank Account fields names & data fields-->
        </div>
        <!--End data profile columns-->
        <div class="col-md-offset-1 col-md-5">
            <div class="alert-yellow">
                If any of this information is incorrect or has changed please write to support@717star.net to correct it
            </div>
        </div>
        <!--End alert message column-->
    </div>
</div>
<script src="js/seller/sellerProfile.js"></script>