<div class="bg-profile centro">

    <button id="newInvoice" class="btn-submit-profile col-md-2 pull-right mb-s-8" style="border-radius: 4px !important; width: 160px; margin-bottom:8px;">New Invoice</button>

    <table class="table table-responsive" data-checkbox-header=false id="profile-table">
        <thead>
        <!-- Fila con los 4 botones -->
<!--        <tr>
            <th data-field="check" data-class="celda-tabla" ></th>
            <th data-field="invoice-number" data-class="celda-tabla col-md-1"></th>
            <th data-field="buyer" data-class="celda-tabla col-md-2"></th>
            <th data-field="purchase-date" data-class="celda-tabla"> </th>
            <th data-field="issuing-date" data-class="celda-tabla"> </th>
            <th data-field="days-maturity" data-class="celda-tabla">  </th>
            <th data-field="amount" data-class="celda-tabla col-md-2"></th>
            <th data-field="ask-advance" data-class="celda-tabla">  </th>
            <th data-field="ask-discount" data-class="celda-tabla col-md-2" ></th>
            <th data-field="bidding-closing" data-class="celda-tabla"> </th>
            <th data-field="status" data-class="celda-tabla"></th>
            <th data-field="best-advance" data-class="celda-tabla bold-blue col-md-2"> </th>
            <th data-field="best-discount" data-class="celda-tabla bold-blue col-md-2"></th>
            <th data-field="edit" data-class="celda-tabla"> <i class="icono-borde glyphicon glyphicon-edit color-gray"></i></th>
            <th data-field="remove" data-class="celda-tabla"><i class="icono-borde glyphicon glyphicon-remove color-gray"></i></th>
            <th data-field="ok" data-class="celda-tabla"><i class="icono-borde glyphicon glyphicon-ok color-gray"></i></th>
            <th data-field="repeat" data-class="celda-tabla"> <i class="icono-borde glyphicon glyphicon-repeat color-gray"></i></th>
        </tr>-->
        <!-- Encabezado tabla -->
        <tr>
            <th data-field="id" data-class="hidden">Id</th>
            <!--<th data-field="check" data-class="celda-tabla"  data-checkbox="true"></th>-->
            <th data-field="invoiseId" data-class="celda-tabla col-md-1">Invoice Number</th>
            <th data-field="buyer" data-class="celda-tabla col-md-2">Buyer</th>
            <th data-field="purchaseDate" data-class="celda-tabla">Purchase Date</th>
            <th data-field="issueDate" data-class="celda-tabla">Issuing Date</th>
            <th data-field="daysMaturity" data-class="celda-tabla">Days to Maturity</th>
            <th data-field="totalAmount" data-class="celda-tabla col-md-2">Amount</th>
            <th data-field="askAdvance" data-class="celda-tabla">ASK % advance</th>
            <th data-field="askDiscountRate" data-class="celda-tabla col-md-2" >
                <a class="pop-me-over" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Monthly Rate (30 days)">
                    <i class="glyphicon glyphicon-info-sign icono-yellow"></i>
                </a>
                <br/> ASK Discount Monthly Rate</th>
            <th data-field="biddingClosing" data-class="celda-tabla">Bidding Closing</th>
            <th data-field="status" data-class="celda-tabla status" data-cell-style="pintarEstados">Status</th>
            <th data-field="bestAdvance" data-class="celda-tabla bold-blue col-md-2 "> Best Advance % BIDs Others</th>
            <th data-field="bestDiscount" data-class="celda-tabla bold-blue col-md-2">Best Discount Monthly Rate % BIDs Others</th>
            <th data-field="edit" data-class="celda-tabla"></th>
            <th data-field="remove" data-class="celda-tabla"></th>
            <th data-field="ok" data-class="celda-tabla"></th>
            <th data-field="repeat" data-class="celda-tabla"></th>
        </tr>
        </thead>
    </table>
    <div class="pagination">
        <li class="">
            <a class="">1</a>
            <a class="">2</a>
            <a class="">3</a>
            <a class="">4</a>
        </li>
    </div>
</div>

<div id="modal">
</div>

<script src="js/seller/sellerInvoice.js"></script>