<div class="bg-profile">
    <div class="col-md-9 bg-profile-card no-margin-left well padding-top">
        <div class="profile-title">New Invoice</div>
        <hr>
        <div class="col-md-9 spacing">
            <form class="form-horizontal padding-form" role="form" id="frmNewInvoive">
                <div class="form-group ">
                    <div class="col-md-12 gray-name-field title no-padding">
                        Payer Data / Importer
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Company name*
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="companyName" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Country*
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="country" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-12 gray-name-field title no-padding">
                        Contact Information
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Contact Name*
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="person" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Email*
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="email" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Phone*
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="phone" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Cell phone
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="cel"/>
                </div>
                <div class="form-group">
                    <div class="col-md-12 gray-name-field title no-padding">
                        Invoice Information
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Invoice Number (Number on Invoice)*
                    </div>
                    <input type="number" class="col-md-6 form-control form-profile margins" value="" id="invoiseId" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Total Amount*
                    </div>
                    <input type="number" class="col-md-6 form-control form-profile margins" value="" id="totalAmount" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Issue Date*
                    </div>
                    <input type="date" class="form-control form-profile middle margins" value="" id="issueDate" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Expiration Date*
                    </div>
                    <input type="date" class="form-control form-profile middle margins" value="" id="expirationDate" required="required"/>
                </div>
                <div class="form-group">
    <!--            <div class="col-md-5 gray-name-field no-padding">
                    Days to Maturity (automatic)*
                </div>
                <input class="col-md-6 form-control form-profile margins" value="" id="companyName"/>-->
                    <div class="col-md-5 gray-name-field no-padding">
                        Delivered
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-3 margins no-padding">
                            <input type="radio" id="sentYes" name="typeUser" checked="checked"/>&nbsp;Yes
                        </div>
                        <div class="col-md-3 margins no-padding">
                            <input type="radio" id="sentNo" name="typeUser"/>&nbsp;No
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Bill of Lading Date (if any)
                    </div>
                    <input type="date" class="form-control form-profile middle margins" value="" id="billOfLadingDate"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Incoterms
                    </div>
                    <input class="col-md-6 form-control form-profile margins" value="" id="incoterms"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        Invoice approved by the debtor*
                    </div>
                    <div class="col-md-5 ">
                        <div class="col-md-3 margins no-padding">
                            <input type="radio" id="authorizedByDebtorYes" name="typeUser" checked="checked"/>&nbsp;Yes
                        </div>
                        <div class="col-md-3 margins no-padding">
                            <input type="radio" id="authorizedByDebtorNo" name="typeUser"/>&nbsp;No
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        ASK Advance*
                    </div>
                    <input type="number" class="col-md-6 form-control form-profile margins" value="" id="askAdvance" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-5 gray-name-field no-padding">
                        ASK Discount Rate*
                    </div>
                    <input type="number" class="col-md-6 form-control form-profile margins" value="" id="askDiscountRate" required="required"/>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-6 no-padding">
    <!--                <div>
                        <input id="btnUploadPDF" type="submit" class="btn-upload-PDF form-profile" value="Upload PDF Invoice" style="border-radius: 4px !important;"/>
                        &lt;!&ndash;Upload btn&ndash;&gt;
                    </div>-->
                        <input type="submit" id="confirmInvoice" class="btn-confirm form-profile" value="Confirm" style="border-radius: 4px !important;"/>
                    <!--Submit btn-->
                    </div>
                </div>
                <div class="form-group">
    <!--            <div id="btnOkAndRemoveUploadPDF" hidden class="col-md-1 btn-upload-PDF-icons">
                    <i class="glyphicon glyphicon-ok-sign color-green"></i>
                    <i class="glyphicon glyphicon-remove color-red"></i>
                </div>-->
                    <div class="col-md-12">
                        <label class="label-required">*Required items</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/seller/newInvoice.js"></script>