<div class="modal fade" role="dialog" id="modalEdit">
    <div class="modal-dialog modal-class" role="document">
            <div class="col-md-8 bg-profile-card well padding-top">
                <div class="profile-title">Edit Invoice</div>
                <hr>
                <div class="col-md-8 spacing no-padding">
                    <form class="form-horizontal padding-form" role="form" id="frmEditInvoive">
                        <div class="form-group ">
                            <div class="col-md-5 gray-name-field no-padding">
                                ASK% Advance*
                            </div>
                            <input class="col-md-6 form-control form-profile" value="" id="askAdvance" required="required"/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 gray-name-field no-padding">
                                ASK Discount Monthly Rate*
                            </div>
                            <input class="col-md-6 form-control form-profile" value="" id="askDiscountRate" required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="confirmInvoice" class="btn-submit-profile col-md-6 form-profile" value="Confirm" style="border-radius: 4px !important;"/>
                        </div>
                        <div class="form-group">
                            <!--Submit btn-->
                            <div class="col-md-12">
                                <label class="label-required">*Required items</label>
                            </div>
                        </div>
                    </form>
                </div>
                <!--End data invoice columns-->
                <div class="col-md-4">
                    <div class="col-md-11 alert-yellow alert-height">
                        <div class="col-md-8 alert-left">
                            US$ Advanced<br/>
                            Factor Fee<br/>
                            Platform fee<br/>
                            Rebate at Maturity<br/>
                            Total fees<br/>
                            Implicit Rate(APR)
                        </div>
                        <div class="col-md-4 alert-right">
                            89500,00<br/>
                            3000,00<br/>
                            500,00<br/>
                            0.20,00<br/>
                            3.500,00<br/>
                            31,28%
                        </div>
                    </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="js/seller/editInvoice.js"></script>