<div class="">
    <div class="bg-widthdraw col-md-3">
        <div class="bg-make-deal-card">
            <div class="buyer-title">Account Balance</div>
            <div class="spacing-make-deal">
                <div class="col-md-6 gray-name-field bolder">
                    Account
                </div>
                <div class="col-md-6 gray-name-field bolder">
                    Balance
                </div>
            </div>
            <div>
                <div class="col-md-6 gray-data-field" id="accountNumberBalance">
                </div>
                <div class="col-md-6 gray-data-field" id="ammountBalance">
                </div>
            </div>
            <div class="col-md-6 btn-widthdraw-padding">
                <input type="submit" id="widthdrawAccountBalance" class="btn-dialog-confirm form-profile" value="Widthdraw Funds" style="border-radius: 4px !important;"/>
            </div>
        </div>
    </div>
    <!-- End column left Account Balance -->
    <div class="col-md-4">
        <div class="">
            <div class="alert-yellow widthdraw">
                <div class="alert-title">
                    How to make a deposit into account?
                </div>
                <div class="alert-message">
                    Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                    Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                    Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                    Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                </div>
            </div>
        </div>
    </div>
    <!-- End column right alert "how to..." -->
</div>
<script src="js/buyer/widthdrawFunds.js"></script>