<div class="modal fade" role="dialog" id="modalWidthdraw">
    <div class="modal-dialog modal-class" role="document">
    <div class="bg-widthdrawFunds col-md-8">
        <div class="bg-make-deal-card">
            <div class="buyer-title">Widthdraw Funds</div>
            <div class="col-md-6 no-padding">
                <div class="col-md-10 no-padding">
                        <div class="spacing-widthdraw">
                            <div class="col-md-6 gray-name-field bolder">
                                Account
                            </div>
                            <div class="col-md-6 gray-name-field bolder">
                                Balance
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6 gray-data-field" id="accountNumberFunds">
                            </div>
                            <div class="col-md-6 gray-data-field" id="ammountFunds">
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12 gray-name-field bolder padding-top widthdraw">
                                Amount to Widthdraw
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control form-profile margins" value="" id="ammount" required="required"/>
                            </div>
                        </div>
                        <div class="col-md-12 padding-top widthdraw">
                            <hr>
                        </div>
                        <div class="col-md-12 gray-name-field title small widthdraw">
                            Bank account details
                        </div>
                        <div class="little-line-height">
                            <div class="col-md-5 gray-name-field small widthdraw">
                                Routing number
                            </div>
                            <div class="col-md-5 gray-data-field small no-padding widthdraw" id="routingNumberFunds">
                            </div>

                            <div class="col-md-5 gray-name-field small widthdraw">
                                Account number
                            </div>
                            <div class="col-md-5 gray-data-field small no-padding widthdraw" id="accountNumberFunds2">
                            </div>
                        </div>
                        <div class="margin-left-btns-widthdraw">
                            <div class="col-md-8 margin-top">
                                <input type="submit" id="widthdrawFunds" class="btn-dialog-confirm form-profile" value="WidthDraw" style="border-radius: 4px !important;"/>
                            </div>
                            <div class="col-md-4 alert-left margin-top">
                                <input type="submit" id="cancelWidthdrawFunds" class="btn-dialog-cancel form-profile no-margin-top" value="Cancel" style="border-radius: 4px !important; margin-top: 0 !important;"/>
                            </div>
                        </div>
                </div>
            </div>
            <!-- End column left Account Balance -->
            <div class="col-md-6">
                <div class="spacing-widthdraw">
                    <div class="alert-yellow widthdraw">
                        <div class="alert-title">
                            Widthdrawal Procedures
                        </div>
                        <div class="alert-message">
                            Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                            Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                            Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
                            Loores Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Loremes Ipsum ha sido el texto de relleno estándar.
                        </div>
                    </div>
                </div>
            </div>
            <!-- End column right alert "how to..." -->
        </div>
    </div>
    </div>
</div>
<script src="js/buyer/widthdrawFunds.js"></script>