<div id="filters">
    <div class="bg-profile">
        <div class="col-md-8 bg-profile-card well">
            <div class="profile-title">Filters</div>
            <hr>
            <div class="col-md-12 spacing">
                <div class="col-md-2 gray-name-field">
                    Seller<br/>
                    <input class="col-md-12 form-control form-profile" value=""/>
                </div>
                <div class="col-md-2 gray-name-field">
                    Date
                    <input class="col-md-12 form-control form-profile" placeholder="From"/>
                </div>
                <div class="col-md-2 gray-name-field">
                    <br/>
                    <input class="col-md-12 form-control form-profile" placeholder="To"/>
                </div>
                <div class="col-md-2 gray-name-field small" style="line-height: 1.5;">
                    State Purchase Invoice<br/>
                    <select class="col-md-12 form-control form-profile combobox">
                        <option value="">
                        </option>
                    </select>
                </div>
                <div class="col-md-2 gray-name-field small" style="line-height: 1.5;">
                    State Bill Payment<br/>
                    <select class="col-md-12 form-control form-profile combobox">
                        <option value="">
                        </option>
                    </select>
                </div>
                <div class="col-md-2 gray-name-field">
                    <br/>
                    <input type="submit" id="search" class="btn-submit-profile col-md-3 form-profile" value="Search" style="border-radius: 4px !important;"/>
                </div>
            </div>
            <!--Table with results-->
            <div id="results">
            </div>
        </div>
    </div>
</div>
<script src="js/buyer/buyerDealings.js"></script>