<div id="filters">
    <div class="bg-profile">
        <div class="col-md-8 bg-profile-card well">
            <div class="profile-title">Filters</div>
            <hr>
            <div class="col-md-12 spacing">
                <div class="col-md-2 gray-name-field">
                    Seller<br/>
                    <input class="col-md-12 form-control form-profile" value="" id="seller"/>
                </div>
                <div class="col-md-2 gray-name-field">
                    Due Days<br/>
                    <select class="col-md-12 form-control form-profile combobox">
                        <option value="">
                        </option>
                    </select>
                </div>
                <div class="col-md-2 gray-name-field">
                    Amount
                    <input class="col-md-12 form-control form-profile" placeholder="From"/>
                </div>
                <div class="col-md-2 gray-name-field">
                    <br/>
                    <input class="col-md-12 form-control form-profile" placeholder="To"/>
                </div>
                <div class="col-md-2 gray-name-field no-padding" style="display:inline-block;">
                    <br/>
                    <input type="checkbox" class="form-profile" style="display:inline-block;"/>
                    <label class="label-check" style="display:inline-block;"> Invoices with <br/> own BIDs</label>
                </div>
                <div class="col-md-2 gray-name-field ">
                    <br/>
                    <input type="submit" id="search" class="btn-submit-profile col-md-3 form-profile" value="Search" style="border-radius: 4px !important;"/>
                </div>
            </div>
            <!--Table with results-->
            <div id="results">
            </div>
        </div>
        <div class="col-md-3 alert-white" style="display:none;" id="info-bid">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            <div class="profile-title">Account Balance</div>
            <div class="header-profile-table col-md-12">
                <div class="col-md-6 bold">
                    Account
                </div>
                <div class="col-md-6 bold">
                    Balance
                </div>
                <div class="col-md-6 " id="accountNumberOffer">
                </div>
                <div class="col-md-6 " id="ammountOffer">
                </div>
            </div>
            <div class="col-md-12 profile-title margin-top">Invoice</div>
            <hr/>
            <p class="text-black" id="invoiceInfo">
            </p>
            <div class="text-black bold">OFFER INVOICE</div>
            <hr/>
            <p class="text-black col-md-12 no-padding no-margin">
                BID % advance
            </p>
            <input class="col-md-6 form-control form-profile" value="" id="advance"/>
            <p class="text-black col-md-12 no-padding no-margin">
                BID discount rate
            </p>
            <input class="col-md-6 form-control form-profile" value="" id="discountRate"/>
            <br/>
            <br/>
            <div class="text-black col-md-12 no-padding align-left">
                <div class="col-md-8 no-padding">
                    U$S Advanced
                </div>
                <div class="col-md-4 no-padding">
                    90.000
                </div>
                <div class="col-md-8 no-padding">
                    U$S Advanced
                </div>
                <div class="col-md-4 no-padding">
                    90.000
                </div>
                <div class="col-md-8 no-padding">
                    U$S Deducted from Account
                </div>
                <div class="col-md-4 no-padding">
                    91.000
                </div>
                <div class="col-md-8 no-padding">
                    U$S margin of Investment
                </div>
                <div class="col-md-4 no-padding">
                    91.000
                </div>
                <div class="col-md-8 no-padding">
                    Implicit YIELD (APR)
                </div>
                <div class="col-md-4 no-padding">
                    26,37%
                </div>
            </div>
            <br/>
            <br/>
            <div class="col-md-12 align-center margin-top">
                <button class="btn-green no-margin" onclick="confirmBid();">BID</button>
            </div>
            <div class="col-md-12 align-center"  onclick="closeBid();">
                Cancel
            </div>
        </div>
    </div>
</div>
<script src="js/buyer/buyerOfferInvoice.js"></script>