<div class="bg-profile centro">
    <div class="profile-title table-title">Offer Invoice</div>
    <div class="gray-subtitle-table">
        <span class="bold">Account</span>
        <span id="accountNumber"></span> &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="bold">Balance</span>
        <span id="ammount"></span> &nbsp;
    </div>
    <table class="table table-responsive" data-checkbox-header=false id="offer-invoice">
        <thead>
        <!-- Encabezado tabla -->
        <tr>
            <th data-field="id" data-class="hidden">Id</th>
            <th data-field="seller" data-class="celda-tabla col-md-1">Seller</th>
            <th data-field="payer" data-class="celda-tabla col-md-2">Payer</th>
            <th data-field="totalAmount" data-class="celda-tabla col-md-2">Amount</th>
            <th data-field="daysMaturity" data-class="celda-tabla">Days to Maturity</th>
            <th data-field="biddingClosing" data-class="celda-tabla">Bidding Closing</th>
            <th data-field="bestAdvance" data-class="celda-tabla bold-blue col-md-2 "> Best Advance % BIDs Others</th>
            <th data-field="bestDiscount" data-class="celda-tabla bold-blue col-md-2">Best Discount Monthly Rate % BIDs Others</th>
            <th data-field="actions" data-class="celda-tabla col-md-2"></th>
        </tr>
        </thead>
    </table>
    <div class="pagination">
        <li class="">
            <a class="">1</a>
            <a class="">2</a>
            <a class="">3</a>
            <a class="">4</a>
        </li>
    </div>
</div>
<script src="js/buyer/buyerOfferInvoiceResults.js"></script>