<div class="modal fade" role="dialog" id="modalWidthdrawConfirm">
    <div class="modal-dialog modal-class" role="document">
        <div class="bg-make-deal col-md-3">
            <div class="bg-make-deal-card">
                <div class="buyer-title">WidthDraw</div>
                <div class="col-md-offset-3 col-md-6 gray-name-field spacing-make-deal align-center">
                    Are you sure you want to widthdraw U$S XX,XXX.XX?
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <input type="submit" id="confirmWidthdrawFunds" class="btn-dialog-confirm form-profile" value="Ok" style="border-radius: 4px !important;"/>
                    <input type="submit" id="cancelWidthdrawFunds" class="btn-dialog-cancel form-profile" value="Cancel" style="border-radius: 4px !important;"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/buyer/widthdrawFunds.js"></script>